/* general rules */
body {
    background-image: url(../images/ps-con.jpg);
    background-size:cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color:rgb(41, 41, 41);
    background-blend-mode: multiply;
    margin: 0px;
}

main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1{
    text-align: center;
    padding: 10px;
}

header h1:hover {
    text-decoration: wavy underline white;
    text-underline-offset: 9px;
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 12px;
    background-color: rgba(0,0,0,0.7);
}

article > h2 {
    padding: 4px 8px;
    text-decoration: wavy underline white;
    text-underline-offset: 9px;
}

#todo {
    border-color: red;
}

#todo h2 {
    color: red;
}

#inprogress {
    border-color: yellow;
}

#inprogress h2 {
    color:yellow;
}

#done {
    border-color: #00ccff;
}

#done h2 {
    color: #00ccff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.3);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(255, 255, 0, 0.3);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 205, 255, 0.3);
}

