/* general rules */
body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

main {
    display:flex;
    justify-content: center;
    /* flex-wrap makes it stack if it runs out of room */
    flex-wrap: wrap;
}

header h1{
    text-align: center;
    padding: 10px;
}

/* target all three articles, 1 specificity */
article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    /* space below and beside, because flex-wrap */
    margin: 10px 12px;
}

article > h2 {
    color: red;
    padding: 4px 8px;
}

/* select first article, 11 specificity overrides first article rule*/
article:first-of-type {
    /* border: 4px solid colour; */
    border-color: red;
}

/* 100 specificity */
#inprogress {
    border-color: yellow;
}

/* 101 spec */
#inprogress h2 {
    color:yellow;
}

#done {
    border-color: green;
}

#done h2 {
    color: green;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.3);
}

.inprogress li:nth-child(odd) {
    background-color: rgba(255, 255, 0, 0.3);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.3);

}